name: Reusable Java Build Workflow

on:
  workflow_call:
    inputs:
      java-version:
        required: true
        type: string
      run-tests:
        required: false
        type: boolean
        default: true
    secrets:
      custom-token:
        required: false

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ inputs.java-version }}

      - name: Build project
        run: mvn -B -f java_project/pom.xml package

      - name: Run tests (optional)
        if: ${{ inputs.run-tests }}
        run: mvn -B -f java_project/pom.xml test
